<nav class="navbar navbar-default nav-header">
    <div class="container-fluid">
        <span class="nav-select">
            <select class="form-control input-sm" options="base.stationList" v-model="station">
            </select>
        </span>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-header">
                <a class="navbar-brand" href="#home">
                    <h2 class="title">
                        水电站巡视检查管理系统
                    </h2>
                </a>
                <!--<span>当前用户：费丁 <a href="javascript:;">注销</a></span>-->
            </div>
            <ul id="nav-nar" class="nav navbar-nav navbar-right">
                <li v-repeat="f in func" v-class="dropdown:f.child,active:f.key == active">
                    <a v-if="f.child" href="#"  class="dropdown-toggle parent" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{f.name}} <span class="caret"></span></a>
                    <a v-if="!f.child" class="parent" href="#{{f.key}}" >{{f.name}}</span></a>
                    <ul v-if="f.child" class="dropdown-menu">
                        <li v-repeat="c in f.child"  v-class="active:c.key == child" ><a href="#{{c.key}}">{{c.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>