.page-route{

  .custom{
    tr{
      background-color: #fff;
    }
  }

  .col-md-8{
    padding-right: 0;
  }

  .col-md-4{
    padding-left: 0;
  }

  .panel{
    border-radius: 0;
  }

  .arrow-bar{
    visibility: hidden;
    position: absolute;
    right: 5px;
    top:2px;
    color: #ccc;
  }

  .remove-bar{
    visibility: hidden;
    position: absolute;
    right: 25px;
    top:10px;
    color: #ccc;
  }


  .list-group-item:hover{
    .arrow-bar{
      visibility: visible;
    }

    .remove-bar{
      visibility: visible;
    }

    .remove-bar:hover {
      span{
      color: #ACD02F;
      }
    }

    .arrow-bar{
      span:hover{
        color: #ACD02F;
      }
    }

  }


  .timeline-end{
    display: inline-block;
    position: absolute;
    left: 20px;
    height: 10px;
    width: 20px;
    margin-top: -10px;
    background-color: #AFDCF8;
  }
}