<div class="panel">
    <div class="panel-heading">
        <a class="btn btn-primary btn-sm "  v-on="click:onAdd" role="button"> <span class="icon icon-plus" aria-hidden="true"></span>
            添加
        </a>
    </div>
    <div class="panel-body" v-style="min-height:contentHeight+'px'">
        <div class="input-group col-md-8 col-md-offset-2" style="margin-bottom: 10px">
            <span class="input-group-addon">开始时间</span>
            <input type="text" id="begin_query" v-model="query.beginTime" class="form-control " placeholder="开始时间">

            <span class="input-group-addon">至</span>
            <input type="text" id="end_query"  v-model="query.endTime" class="form-control " placeholder="截止时间">

            <span class="input-group-addon">状态</span>
            <select class="form-control " v-model="query.state" options="base.status">
                <option value="-1">全部</option>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-primary  "  v-on="click:onQuery">
                    <span class="icon icon-search" aria-hidden="true"></span>
                    查询</button>
                        <button class="btn btn-warning  "  v-on="click:onReset">
                            <span class="icon icon-record" aria-hidden="true"></span>
                            重置</button>
            </span>
        </div>

        <table class="table  table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>开始时间</th>
                <th>截止时间</th>
                <th>路线</th>
                <th>派发人</th>
                <th>负责人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-repeat="v in tasks"><td>{{v.FBeginTime | datetime}}</td><td>{{v.FEndTime | datetime}}</td><td>{{v.FRoutDesc}}</td><td>{{v.FChargePersonName}}</td><td>{{v.FInspectPersonName}}</td><td>{{v.FState | status}}</td><td><a href="#">编辑</a> <a href="javascript:;" v-on="click:onDelTask(v.FId)">删除</a></td></tr>
            </tbody>
        </table>
        <!--<c-pager></c-pager>-->


        <!-- Modal -->
        <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">添加巡检任务</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">计划名称</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="task.remark"  class="form-control" placeholder="计划名称">

                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">路线名称</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="routdesc" v-model="task.routid" options="base.routList">
                                        <option>请选择</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">开始时间</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="task.beginTime" id="startTime" class="form-control" placeholder="开始时间">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">截止时间</label>
                                <div class="col-sm-10">
                                    <input type="text"  v-model="task.endTime" id="endTime" class="form-control"   placeholder="截止时间">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">负责人</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="chargepersonname" options="base.userList" v-model="task.chargepersonid"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" v-on="click:onSubmit">保存</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<c-foot></c-foot>