body,
html {
  padding: 0;
  margin: 0;
}
.timeline {
  display: block;
  margin: 20px auto;
  font: 400 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.timeline ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: url("../images/version_line.png") repeat-y 260px;
}
.timeline ul li {
  position: relative;
  min-height: 100px;
  margin-bottom: 20px;
}
.timeline ul li .left {
  position: absolute;
  left: 25px;
  text-align: center;
  width: 200px;
  border-radius: 5px;
  color: #fff;
  background-color: #74538C;
}
.timeline ul li .left .section-name {
  padding: 10px;
  font-size: 18px;
  line-height: 28px;
}
.timeline ul li .center {
  width: 56px;
  height: 56px;
  position: absolute;
  background: url("../images/version_dot.png") no-repeat;
  left: 237px;
  margin-top: -2px;
  text-align: center;
  line-height: 56px;
  font-size: 22px;
  color: #fff;
}
.timeline ul li .right {
  margin-left: 305px;
  padding-right: 100px;
  min-width: 800px;
}
.timeline ul li .right .content {
  background-color: #3594cb;
  border-radius: 5px;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.15);
  font-size: 13px;
  padding: 10px;
}
.timeline ul li .right .content table {
  width: 100%;
  border-collapse: collapse;
}
.timeline ul li .right .content table tr {
  line-height: 28px;
}
.timeline ul li .right .content table tr td {
  padding: 5px;
  border: 1px solid #fff;
}
.timeline ul li .right .content:hover {
  border: 2px solid #deff00;
  cursor: pointer;
}
.timeline ul li:nth-child(odd) .right .content {
  background-color: #5A788A;
}
.nav-bar {
  position: fixed;
  right: 10px;
  width: 50px;
  top: 50%;
  margin-top: -100px;
  background-color: #004974;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
}
.nav-bar .icons {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 5px 0;
  cursor: pointer;
}
.nav-bar .icons-arrow-up {
  background: url("../images/iconfont-xiangshang.png");
}
.nav-bar .icons-arrow-bofang {
  background: url("../images/iconfont-bofang.png");
}
.nav-bar .icons-arrow-zanting {
  background: url("../images/iconfont-zanting.png");
}
.nav-bar .icons-arrow-down {
  background: url("../images/iconfont-xiangxia.png");
}
.record-detail {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #efefef;
}
.record-detail .header {
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 26px;
  text-align: center;
  background-color: #6E6AB7;
  border-bottom: 1px solid #333;
}
.record-detail .header .close {
  cursor: pointer;
  float: right;
  width: 32px;
  height: 32px;
  margin: 6px 10px 0 0 ;
  background-image: url("../images/iconfont-guanbi.png");
}
.record-detail .wrap {
  padding: 20px;
}
.record-detail .wrap table {
  border: 1px solid #ddd;
  border-left: none;
  width: 100%;
  margin-bottom: 1.6rem;
  border-spacing: 0;
  border-collapse: separate;
  background-color: #fff;
  empty-cells: show;
}
.record-detail .wrap table th,
.record-detail .wrap table td {
  padding: .7rem;
  line-height: 1.6;
  vertical-align: top;
  border: 1px solid #ddd;
}
.record-detail .wrap table .icons {
  margin-top: 5px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.record-detail .wrap table .icons-mobile {
  background-image: url("../images/iconfont-phone.png");
}
.record-detail .wrap table .icons-pencil {
  background-image: url("../images/iconfont-diannao.png");
}
.record-detail .wrap table .pull-right {
  float: right;
}
.record-detail .pic-wrap {
  width: 100%;
  list-style: none;
}
.record-detail .pic-wrap li {
  float: left;
  width: 50%;
}
