body,html{
  padding: 0;
  margin: 0;
}

.timeline{
  display: block;
  margin: 20px auto;
  font: 400 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: url("../images/version_line.png") repeat-y 260px;

    li{
      position: relative;
      min-height: 100px;
      margin-bottom: 20px;
      .left{
        position: absolute;
        left: 25px;
        text-align: center;
        width: 200px;
        border-radius: 5px;
        color: #fff;
        background-color: #74538C;
        .section-name{
          padding: 10px;
          font-size: 18px;
          line-height: 28px;
        }
      }

      .center{
        width: 56px;
        height: 56px;
        position: absolute;
        background: url("../images/version_dot.png") no-repeat;
        left: 237px;
        margin-top:-2px;
        text-align: center;
        line-height: 56px;
        font-size: 22px;
        color: #fff;
      }

      .right{
        margin-left: 305px;
        padding-right: 100px;
        min-width: 800px;
        .content{
          background-color: #3594cb;
          border-radius: 5px;
          color: #fff;
          border: 2px solid rgba(0, 0, 0, 0.15);
          font-size: 13px;
          padding: 10px;

          table{
            width: 100%;
            border-collapse: collapse;
            tr{
              line-height: 28px;
              td{
                padding: 5px;
                border: 1px solid #fff;
              }
            }
          }
        }

        .content:hover{
          border: 2px solid #deff00;
          cursor: pointer;
        }
      }

    }

    li:nth-child(odd){
      .right{
        .content{
          background-color: #5A788A;
        }
      }
    }
  }
}

.nav-bar{
  position: fixed;
  right: 10px;
  width: 50px;
  top:50%;
  margin-top: -100px;
  background-color: #004974;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;

  .icons{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 5px 0;
    cursor: pointer;
  }

  .icons-arrow-up{
    background: url("../images/iconfont-xiangshang.png");
  }

  .icons-arrow-bofang{
    background: url("../images/iconfont-bofang.png");
  }
  .icons-arrow-zanting{
    background: url("../images/iconfont-zanting.png");
  }

  .icons-arrow-down{
    background: url("../images/iconfont-xiangxia.png");
  }
}


.record-detail{
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top:0;
  left: 0;
  background-color: #efefef;
  .header {
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 26px;
    text-align: center;
    background-color: #6E6AB7;
    border-bottom: 1px solid #333;

    .close{
      cursor: pointer;
      float: right;
      width: 32px;
      height: 32px;
      margin: 6px 10px 0 0 ;
      background-image: url("../images/iconfont-guanbi.png");
    }
  }

  .wrap{
    padding: 20px;
    table{
      border: 1px solid #ddd;
      border-left: none;
      width: 100%;
      margin-bottom: 1.6rem;
      border-spacing: 0;
      border-collapse: separate;
      background-color: #fff;
      empty-cells: show;
      th,td{
        padding: .7rem;
        line-height: 1.6;
        vertical-align: top;
        border: 1px solid #ddd;
      }

      .icons{
        margin-top: 5px;
        width: 16px;
        height: 16px;
        display: inline-block;
      }

      .icons-mobile{
        background-image: url("../images/iconfont-phone.png");
      }

      .icons-pencil{
        background-image: url("../images/iconfont-diannao.png");
      }

      .pull-right{
        float: right;
      }
    }
  }

  .pic-wrap{
    width: 100%;
    list-style: none;
    li{
      float: left;
      width: 50%;
    }
  }
}