<div class="container-fluid page-contrast">
    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    <div class="form-horizontal">
                        <div class="form-group" style="margin-bottom: 0">
                            <label class="control-label col-sm-3">路线</label>
                            <div class="col-sm-9">
                                <select class=" form-control" options="routes" v-model="selectRoute">
                                    <option value="-1">请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" v-repeat="t in times">
                            <div class="form-horizontal">
                                <div class="form-group" style="margin-bottom: 0">
                                    <label class="control-label col-sm-10 input-sm" style="text-align: left">
                                        {{t.FCheckTime | datetime}}
                                    </label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" class="form-control input-sm " v-model="t.isChecked" v-on="click:onCheck(t)">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel">

                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>巡检区段</th>
                            <th>巡检对象</th>
                            <th>检查内容</th>
                            <th v-repeat="t in ths" v-show="t.show" >{{t.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-repeat="r in contents" >
                            <td rowspan="{{r.rows}}" style="vertical-align: middle;" v-show="r.rows">{{r.SectionName}}</td>
                            <td  rowspan="{{r.objrows}}" style="vertical-align: middle;" v-show="r.objrows" >{{r.ObjectName}}</td>
                            <td>{{r.ContentName}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>