<div class="container-fluid page-query" v-style="min-height:contentHeight+'px'">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    <select class="form-control " v-model="type">
                        <option value="route">
                            按巡检路线导航
                        </option>
                        <option value="position">
                            按巡检部位导航
                        </option>
                        <option value="type">
                            按巡检类型导航
                        </option>
                    </select>
                </div>
                <div class="panel-body">
                    <div class="ztree" id="tree"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="panel">
                <div class="panel-heading">
                    <div class="input-group col-md-10">
                        <label class="input-group-addon">开始时间</label>
                        <input type="text" id="beginTime" v-model="query.beginTime" class="form-control " placeholder="开始时间">
                        <label class="input-group-addon">至</label>
                        <input type="text" id="endTime" v-model="query.endTime" class="form-control " placeholder="截止时间" >
                        <label class="input-group-addon" >&nbsp;&nbsp;状态</label>
                        <select class="form-control " options="base.status" v-model="query.checkStatus" >
                        </select>
                <span class="input-group-btn">
                                 <button  class="btn btn-primary  " v-on="click:onQuery">查询</button>
                <button  class="btn btn-warning  " v-on="click:onReset">重置</button>
                </span>

                    </div>

                </div>
                <div class="panel-body">
                    <div>
                        <c-datagrid options="{{datagrid_query}}"></c-datagrid>
                        <!--<table style="height: 300px"  class="table datatable table-bordered table-striped table-hover">-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>检查时间</th>-->
                                <!--<th>巡检对象</th>-->
                                <!--<th>检查内容</th>-->
                                <!--<th>结果状态</th>-->
                                <!--<th>结果描述</th>-->
                                <!--<th>附件</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr v-repeat="l in list">-->
                                <!--<td>{{l.FOperateTime | datetime}}</td>-->
                                <!--<td>{{l.objectName}}</td>-->
                                <!--<td>{{l.FContentValue}}</td>-->
                                <!--<td>{{l.FContentStatus | status}}</td>-->
                                <!--<td>{{l.contentName}}-->
                                    <!--<span class="icon icon-pencil pull-right" v-show="l.FInputType==0"></span><span class="icon icon-phone pull-right" v-show="l.FInputType==1"></span>-->
                                <!--</td>-->
                                <!--<td><a v-on="click:getPic(l.FId)" href="javascript:;"   v-if="l.fileCount>0">查看照片</a></td></tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">查看附件</h4>
            </div>
            <div class="modal-body">
                <div class="row" v-repeat="p in pics">
                    <div class="col-sm-12 col-md-12">
                        <div class="thumbnail">
                            <img v-attr="src:p.FFileRelativeAddress" >
                            <div class="caption">
                                <h3 style="text-align: center">{{p.FFileCreateTime | datetime}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<c-foot></c-foot>