<div class="container-fluid page-marker" v-style="min-height:contentHeight+'px'">
    <div class="row">
        <div class="col-lg-3">
            <div class="col-sm-12">
                <select class="form-control input-sm" v-model="type">
                    <option value="route">
                        按巡检路线导航
                    </option>
                    <option value="position">
                        按巡检部位导航
                    </option>
                    <option value="type">
                        按巡检类型导航
                    </option>

                </select>
            </div>
            <div class="col-sm-12">
                <div class="ztree" id="tree"></div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="form-inline" style="margin-bottom: 10px;">
                <div class="form-group">
                    <label >开始时间</label>
                    <input type="text" id="beginTime" v-model="query.beginTime" class="form-control input-sm" placeholder="开始时间">
                </div>
                <div class="form-group">
                    <label >至</label>
                    <input type="text" id="endTime" v-model="query.endTime" class="form-control input-sm" placeholder="截止时间" >
                </div>
                <div class="form-group">
                    <label >&nbsp;&nbsp;状态</label>
                    <select class="form-control input-sm" options="base.status" v-model="query.checkStatus" >
                    </select>
                </div>
                <button  class="btn btn-primary  btn-sm" v-on="click:onQuery">查询</button>
                <button  class="btn btn-warning  btn-sm" v-on="click:onReset">重置</button>
            </div>
         <div v-style="styles">
             <table class="table custom table-bordered table-striped table-hover">
                 <thead>
                 <tr>
                     <th>检查时间</th>
                     <th>巡检对象</th>
                     <th>检查内容</th>
                     <th>结果状态</th>
                     <th>结果描述</th>
                     <th>附件</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr v-repeat="l in list">
                     <td>{{l.FOperateTime | datetime}}</td>
                     <td>{{l.objectName}}</td>
                     <td>{{l.FContentValue}}</td>
                     <td>{{l.FContentStatus | status}}</td>
                     <td>{{l.contentName}}
                         <span class="icon icon-pencil pull-right" v-show="l.FInputType==0"></span><span class="icon icon-phone pull-right" v-show="l.FInputType==1"></span>
                     </td>
                     <td><a v-on="click:getPic(l.FId)" href="javascript:;"   v-if="l.fileCount>0">查看照片</a></td></tr>
                 </tbody>
             </table>
         </div>
            <!--<c-pager></c-pager>-->
        </div>
    </div>
</div>

<div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">查看附件</h4>
            </div>
            <div class="modal-body">
                <div class="row" v-repeat="p in pics">
                    <div class="col-sm-12 col-md-12">
                        <div class="thumbnail">
                            <img v-attr="src:p.FFileRelativeAddress" >
                            <div class="caption">
                                <h3 style="text-align: center">{{p.FFileCreateTime | datetime}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<c-foot></c-foot>