<div class="c-datagrid">
    <div class="c-datagrid-header">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th v-repeat="c in options.columns" class="c-datagrid-th-{{c.field}}" v-style="width:c.width||'auto'">
                <div>{{c.title}}</div>
                </th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="c-datagrid-body" style="overflow-y: auto;overflow-x:hidden;" v-style="height:options.height||'auto'">
        <table class="table table-striped table-bordered table-hover">
            <tbody>
            <tr v-repeat="d in options.data">
                <td  v-repeat="c in options.columns"  class="c-datagrid-row-{{c.field}}">
                    <div v-if="!c.type" v-html="getText(d[c.field],c)"></div>
                    <div v-if="c.type=='edit'">
                        <a href="javascript:;" v-repeat="b in c.buttons" v-show="b.filter(d)" v-on="click:onClick(b,d)">{{b.title}}</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>