<div class="panel panel-info" v-style="min-height:contentHeight+'px'">
    <div class="panel-heading" style="line-height: 28px;">
        巡检记录详情
        <a class="btn btn-default pull-right btn-sm" href="#record"  role="button"> <span class="icon icon-arrow-left" aria-hidden="true"></span>
            返回
        </a>
    </div>
    <div class="panel-body">
        <div class="container-fluid page-record-detail" >
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">路线</label>
                            <div class="col-sm-8">
                                <select class="form-control " disabled v-model="detail.RoutId" options="base.routList">
                                    <option >请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">状态</label>
                            <div class="col-sm-8">
                                <select class="form-control"  v-model="detail.Status" options="base.status">
                                    <option >请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">开始时间</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" disabled v-model="detail.StartTime">
                                <span class="input-group-btn">
                                    <a class="btn btn-default btn-sm">
                                        <span  class="icon icon-calendar " aria-hidden="true"></span>
                                    </a>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">结束时间</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" disabled v-model="detail.FinishiTime">
                                  <span class="input-group-btn">
                                    <a class="btn btn-default btn-sm">
                                        <span  class="icon icon-calendar " aria-hidden="true"></span>
                                    </a>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">负责人</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm"  v-model="detail.InspectPerson">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">巡检时间</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" disabled v-model="detail.InspectDate">
                                  <span class="input-group-btn">
                                    <a class="btn btn-default btn-sm">
                                        <span  class="icon icon-calendar " aria-hidden="true"></span>
                                    </a>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">描述</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-sm"  rows="3" v-model="detail.RecordDesc"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 text-center" v-show="!showMore" >
                            <a v-on="click:onShowMore" class="btn btn-primary">更多</a>
                        </div>
                        <div v-show="showMore">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">审核人</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" placeholder="审核人" disabled  v-model="detail.CheckPersonName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">上传人</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" placeholder="上传人" disabled  v-model="detail.inputPersonName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">上传方式</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" placeholder="上传方式" disabled v-model="detail.FInputType">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">修改人</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" placeholder="修改人" disabled v-model="detail.writePersonName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">修改时间</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" placeholder="修改时间" disabled v-model="detail.FWriteTime">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <table class="table  table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th width="100">巡检区段</th>
                            <th width="120">巡检对象</th>
                            <th width="220">检查内容</th>
                            <th>检查结果</th>
                            <th>结果描述</th>
                            <th >附件</th>

                            <th >备注</th>
                            <!--<th style="text-align: center">检查时间</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-repeat="r in contents" >
                            <td rowspan="{{r.rows}}" style="vertical-align: middle;" v-show="r.rows">{{r.sectionName}}</td>
                            <td  rowspan="{{r.objrows}}" style="vertical-align: middle;" v-show="r.objrows" >{{r.objectName}}</td>
                            <td>{{r.contentName}}</td>
                            <td>{{r.FContentStatus | status}}</td>
                            <td><input class="form-control input-sm" v-model="r.FContentValue"></td>
                            <td>
                                <a  v-on="click:getPic(r.FId)" href="javascript:;" v-show="r.fileCount>0">已有照片</a>
                                <br/>
                                <div v-show="r.FileList.length>0">
                                    <img v-repeat="f in r.FileList" v-attr="src:getSrc(f)" style="width: 50px;height: 50px;">
                                </div>
                                <a href="javascript:;" class="file">上传
                                    <input type="file" name="_f" id="_f{{$index}}" v-attr="title:count" v-on="change:upFile(r,$index)">
                                </a>
                            </td>

                            <td>{{r.FRemark}}</td>
                            <!--<td rowspan="{{r.rows}}" style="vertical-align: middle;text-align: center;" v-show="r.rows" v-html="r.CheckResult" ></td>-->
                        </tr>
                        </tbody>
                    </table>
                    <!--<c-pager></c-pager>-->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer" style="height: 50px;">
        <a class="btn btn-primary pull-right" v-on="click:onUpdate">
            <span class="icon icon-save"></span>
            保存</a>
    </div>
</div>


<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">查看附件</h4>
            </div>
            <div class="modal-body">
                <div class="row" v-repeat="p in pics">
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail" style="text-align: center">
                            <img v-attr="src:p.FFileRelativeAddress" class="img-rounded">
                            <div class="caption">
                                <h3 style="text-align: center">{{p.FFileCreateTime | datetime}}</h3>
                            </div>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">删除照片</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
