<div class="panel">
    <div class="panel-heading">
        <a class="btn btn-primary btn-sm " v-on="click:onAdd" role="button"> <span class="icon icon-plus" aria-hidden="true"></span>
            创建
        </a>
    </div>
    <div class="panel-body">
        <div class="container-fluid page-marker" v-style="min-height:contentHeight+'px'">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>计划名称</th>
                            <th>开始时间</th>
                            <th>截止时间</th>
                            <th>路线</th>
                            <th>创建人</th>
                            <th>负责人</th>
                            <th>状态</th>
                            <th>周期</th>
                            <th>周期类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-repeat="p in plans"><td>{{p.FRemark}}</td><td>{{p.FStartTime | datetime}}</td><td>{{p.FEndTime | datetime}}</td><td>{{p.routName}}</td><td>{{p.FCreatePersonName}}</td><td>{{p.FChargePersonName}}</td><td>{{p.FStatus | project_state}}</td><td>{{p.FCycle}}</td><td>{{p.FCycleType | cycle_type}}</td><td><a href="#" v-on="click:onEditPlan(p)">编辑</a> <a href="javascript:;" v-on="click:onDelPlan(p.FId)" >删除</a></td></tr>
                        </tbody>
                    </table>
                    <!--<c-pager></c-pager>-->
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{active}}巡检计划</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-2 control-label">计划名称</label>
                                    <div class="col-sm-9">
                                        <input  type="text" v-model="plan.remark"  class="form-control" placeholder="巡检计划">
                                    </div>
                                    <div class="col-sm-1 validator" v-show="!validation.remark">
                                        <span class="label label-warning">必填</span>
                                    </div>
                                </div>
                                <div class="form-group  has-feedback">
                                    <label class="col-sm-2 control-label">开始时间</label>
                                    <div class="col-sm-9">
                                        <input type="text" v-model="plan.startTime" id="startTime" class="form-control" placeholder="开始时间">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">截止时间</label>
                                    <div class="col-sm-9">
                                        <input type="text"  v-model="plan.endTime" class="form-control" id="endTime"  placeholder="截止时间">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">路线</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" v-model="plan.routId" options="base.routList">
                                            <option value="-1">请选择</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1 validator" v-show="!validation.routId">
                                        <span class="label label-warning">必选</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">负责人</label>
                                    <div class="col-sm-9">
                                        <select id="ChargePerson" class="form-control" v-model="plan.ChargePersonID" options="base.userList">
                                            <option value="-1">请选择</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">状态</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" v-model="plan.status">
                                            <option value="1">开启</option>
                                            <option value="0">关闭</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">周期</label>
                                    <div class="col-sm-9">
                                        <input type="number" v-model="plan.cycle" class="form-control"  placeholder="周期">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">周期类型</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" v-model="plan.cycleType" options="base.cycleType">
                                            <option>请选择</option>
                                        </select>
                                    </div>
                                      <div class="col-sm-1 validator" v-show="!validation.cycleType">
                                           <span class="label label-warning">必选</span>
                                       </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" v-class="disabled:!isValid" class="btn btn-primary" v-on="click:onSubmit">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<c-foot></c-foot>