.page-type .panel {
  border-radius: 0;
}
.page-type .col-md-3 {
  padding-right: 0;
}
.page-type .col-md-9 {
  padding-left: 0;
}
.page-type .list-group-item:hover .type-edit-bar {
  visibility: visible;
}
.page-type .list-group-item:hover .icon {
  color: #ccc;
}
.page-type .list-group-item:hover .icon:hover {
  color: #c12e2a;
}
.page-type .type-edit-bar {
  visibility: hidden;
}
