.page-type{

  .list-group-item:hover{
    .type-edit-bar{
      visibility: visible;
    }

    .icon{
      color: #ccc;
    }
    .icon:hover{
      color: #c12e2a;
    }
  }



  .type-edit-bar{
    visibility: hidden;

  }
}